# Ignore everything by default
/*

# Allow specific directories and their entire contents
!/books/
!/books/**
!/config/
!/config/**
!/kubejs/
!/kubejs/**
!/resourcepacks/
!/resourcepacks/**
!/serverconfig/
!/serverconfig/**

# Allow specific files
!/options.txt
!.readme.md

# Ignore backup files and folders regardless of location
*.bak
*backup*
*back_up*
